.resultTd:hover {
    background-color: dimgray;
}

.resultField {
    /* pointer-events: none; */
    max-height: 8em;
    overflow: scroll;
}

input {
    background-color: dimgray;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    border: none;
}

.inputField {
    padding: 2%;
}

table {
    padding: 15%;
    border-spacing: 8px;
    table-layout: fixed;
    width: 100%;
}

td {
    background-color:dimgray;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

td:hover {
    background-color:darkgray;
}

.equal-btn {
    background-color:coral;
    font-size: 24px;
}

.equal-btn:hover {
    background-color: lightsalmon;
}
