<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="calculator.css" />
    <title>VueJS Calculator</title>
  </head>
  <body>
    <div id="app">
      <table>

        <tr>
          <td class="resultTd" colspan="5">
            <div class="resultField" >
              <ul>
                <li v-for="entry in history">{{ entry }}</li>
              </ul>
            </div>
          </td>
        <tr>

        <tr>
          <td @keyup.enter="calculate" class="inputField" colspan="5">
            <input v-model="input" autofocus></input>
          </td>
        <tr>

        <tr>
          <td v-on:click="deleteInput('⌫')">⌫</td>
          <td v-on:click="appendInput('(')">(</td>
          <td v-on:click="appendInput(')')">)</td>
          <td v-on:click="appendInput('mod')">mod</td>
          <td v-on:click="appendInput('π')">π</td>
        </tr>

        <tr>
          <td v-on:click="appendInput('7')">7</td>
          <td v-on:click="appendInput('8')">8</td>
          <td v-on:click="appendInput('9')">9</td>
          <td v-on:click="appendInput('÷')">÷</td>
          <td v-on:click="appendInput('√')">√</td>
        </tr>

        <tr>
          <td v-on:click="appendInput('4')">4</td>
          <td v-on:click="appendInput('5')">5</td>
          <td v-on:click="appendInput('6')">6</td>
          <td v-on:click="appendInput('x')">×</td>
          <td v-on:click="appendInput('x²')">x²</td>
        </tr>

        <tr>
          <td v-on:click="appendInput('1')">1</td>
          <td v-on:click="appendInput('2')">2</td>
          <td v-on:click="appendInput('3')">3</td>
          <td v-on:click="appendInput('-')">－</td>
          <td rowspan="2" class="equal-btn" v-on:click="calculate()">=</td>
        </tr>

        <tr>
          <td v-on:click="appendInput('0')">0</td>
          <td v-on:click="appendInput('.')">.</td>
          <td v-on:click="appendInput('%')">%</td>
          <td v-on:click="appendInput('+')">+</td>
        </tr>
      </table>

    </div>
    <script type="module" src="calculator.js"></script>
  </body>
</html>
